{{#marketing-links}}
  {{link-to (t 'registrations.new.route') 'user.registrations.new' class="el-button--primary" tagName="button"}}
{{/marketing-links}}
<div class="centered">
  {{users/sessions-form}}
</div>
